body {
    /*font-family: Pacifico;
   /* background-color: lightgrey;
    margin-top: 0px;
    font-size: 20px;
    text-shadow: 4px 4px 4px #aaa;*/
}
h1,h2,h3,h4,h5{
	font-family: "Pavanam";
}
/** Containers **/
.container{
	padding:40px 20px;
}
.container-spacy{
	padding: 60px 20px;
}
/** background**/
.h1{
	font-size: 3em;
	color: black;
	font-weight:700;
	font-family: "Ubuntu";
}
.background-orange{
	background-color: #f8bc3b;
}
.h1{
	font-size: 3em;
	color: black;
	font-weight:700;
	font-family: "Ubuntu";
}
.container-articles{
	max-width: 800px;
	margin: 0 auto;
	color: #4a4a4a;
	font-family: 'sans-serif';
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
}
/** Header **/
header#main {
margin-bottom:20px;
}
header#main .brand img {
	margin: 40px;
	display: block;
}
/* navigation */
nav#main ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}
nav#main ul li{
	display: inline-block;
	margin: 30px;
}
nav#main li a:visited, a:link, a:active{
	font-family: "Ubuntu";
	/*text-transform: uppercase;*/
	font-weight: 600;
	color: #393f4a;
    text-decoration: none;
    color: #FFFFFF;
}
nav#main li a{
    font-size: 1.5px;
}
 nav#main ul li a:hover {
	background: #fff;
	color: #000;
	-webkit-text-stroke:0.7px black;
	background-color:white;
	 padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top:15px;
}
/* features */
.feature {
 text-align: center;

}
.feature h2{
	font-size: 3em;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 70px;
	margin-top: 10px;
	margin-bottom: 40px;
}
.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
.h5{
	font-size: 1.6em;
	font-weight: 600;
}.p{
	font-size: 80%;
	margin-bottom: 40px;
}
.features img{
	margin-bottom: 20px;
}
.container-articles{
	max-width: 800px;
	margin: 0 auto;
	color: #4a4a4a;
	font-family: 'sans-serif';
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
}